body {
    font-family: 'Quantico', sans-serif;
    background-image: url("https://aishaspb.ru/uploads/s/c/a/q/caqumwemrsxf/img/full_wukuMGYo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    text-align: center;
    color: #ffffff;
}

/*======Container======*/
.container {
    width: 100%;
    min-width: 1170px;
    margin: 0 auto;
}


/*======Nav======*/
/*.cap {
    display: flex;
    align-items: center;
}
*/
.nav {
    font-size: 16px;
    justify-content: center;
}

.nav-link {
    color: gray;
}

.nav-link:hover {
    color: white;
}



/*======Inrto======*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 180px;
    padding-top: 90px;
    text-shadow: 1px 1px 2px black;

}

.intro_inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.intro-title {
    margin: 0 0 30px;

    font-family: 'Play', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
}

.intro-subtitle {
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
}

/*=================Список авто===================*/

.container_section {
    text-align: center;
    margin-right: 0;
}

.title_page_2 {
    margin-bottom: 20px;
}


.card {
    background-color: lightgrey;
}

.row {
    padding-bottom: 30px;
    padding-left: 30px;
    align-items: center;
    width: 1360px;
}

/*=================Список владельцев===================*/

.title-page_3 {
    text-align: center;
    padding-bottom: 20px;
}

.container-table {
    padding-left: 15px;
    padding-right: 15px;

}

.table {
    /*border: 1px solid white;*/
    color: white;
    text-align: center;
    /*text-shadow: 2px 2px 1px black;*/
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.5);
}

.th {
    border: 1px solid grey;
}

.td {
    border: 1px solid grey;
}

/*=================Журнал потока===================*/

.table-out {
    background-color: rgba(255, 0, 0, 0.2);
}

.table-in {
    background-color: rgba(0, 255, 0, 0.2);
}

.table-static {
    background-color: rgba(0, 0, 255, 0.2);
}


/*=================Наша команда===================*/


.container-team {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin: 0 0;
    text-align: center;
}

.team {
    text-align: center;
}

.col {
    padding-top: 10px;
    display: flex;
    justify-content: center;

}

.carousel-control-prev {
    width: 20px;
}


.carousel-control-next {
    width: 20px;
}

.title-team {
    text-align: center;
    margin-bottom: 30px;
}

.card-text {
    text-align: center;
}

.title-team-1 {
    text-align: center;
}

/*=================Регистрация===================*/

.container_reg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.msg-err {
    color: black;
    background-color: whitesmoke;
    border: 3px solid black;
    padding: 2px;
    border-radius: 10px;
    margin: 10px 100px;
    width: 200px;
}


/*=================Авторизация===================*/

.auth-form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.btn-auth {
    color: white;
    margin: 10px 150px;
    padding: 6px;
    border: 3px solid whitesmoke;
    background-color: black;
    width: 100px;
    border-radius: 5px;
    opacity: .8;
}

.btn-auth:hover {
    opacity: 1;
}

.btn-reg {
    color: white;
    margin: 10px 100px;
    padding: 6px;
    border: 3px solid whitesmoke;
    background-color: black;
    width: 200px;
    border-radius: 5px;
    opacity: .8;
}

.btn-reg:hover {
    opacity: 1;
}




/*=================Личный кабинет===================*/

.container-lk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
    text-align: center;
}

.lk-title {
    color: black;
}

.hello-title {
    margin-top: 10px;
    margin-right: 10px;
}